/* Remove all default browser edge spacing */

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  overflow-x: hidden;
}

.hero-content {

  position: relative;

  min-height: 100vh;

  display: flex;

  align-items: center;

  background:
    linear-gradient(rgba(8, 26, 44, .75),
      rgba(8, 26, 44, .55)),
    url("../../../images/your-city-own-view.jpg");

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;

  padding-top: 170px;

  padding-bottom: 120px;

}

/*======================================================
        HOMEPAGE HERO CONTENT RESPONSIVE
======================================================*/


/*======================================================
        EXTRA LARGE
        max-width:1199.98px
======================================================*/

@media (max-width:1199.98px) {

  .hero-content {

    padding-top: 160px;

    padding-bottom: 100px;

  }

}


/*======================================================
        LARGE DEVICES
        max-width:991.98px
======================================================*/

@media (max-width:991.98px) {

  .hero-content {

    min-height: auto;

    padding-top: 140px;

    padding-bottom: 90px;

    display: flex;

    align-items: center;

    justify-content: center;

    text-align: center;

  }

  .hero-content .container {

    max-width: 720px;

  }

}


/*======================================================
        MEDIUM DEVICES
        max-width:767.98px
======================================================*/

@media (max-width:767.98px) {

  .hero-content {

    padding-top: 120px;

    padding-bottom: 70px;

  }

  .hero-content .container {

    max-width: 540px;

  }

}


/*======================================================
        SMALL DEVICES
        max-width:575.98px
======================================================*/

@media (max-width:575.98px) {

  .hero-content {

    padding-top: 110px;

    padding-bottom: 60px;

  }

}


/*======================================================
        EXTRA SMALL DEVICES
        max-width:399.98px
======================================================*/

@media (max-width:399.98px) {

  .hero-content {

    padding-top: 100px;

    padding-bottom: 50px;

  }
}